@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@theme {

  --color-peach-100: #FFDCC2;
  --color-peach-200: #FFCEAB;
  --color-mygray: #EDEDED;

}